<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>DreaMovies Content Management</title>

		<link rel="stylesheet" href="./../public/semantic/dist/semantic.min.css">
		<link rel="stylesheet" href="./../public/css/style.css">
		<link rel="stylesheet" href="./../public/css/video.css">
		<!-- <script src="./../public/js/jquery-3.2.1.min.js"></script> -->
		<script src="./../public/semantic/dist/semantic.min.js"></script>
		<script src="./../renderer/renderer.js"></script>
		<script>
			(function () {
				folder_list.readFolder('C:/Users/WV01/Documents/Acabado/');//'G:/Utorrents Movies/');
				util_tools.createNotification('Title', 'Dreamovies App Running!');
				util_tools.createContextMenu();
			})();
        </script>
	</head>
	<body>
		<header class="topbar">
			<div class="title">
				<div class="top-logo">
					<img src="./../public/icons/png/64x64.png" alt="Logo">
				</div>
				DreaMovies Content Management
				<div class="app-buttons">
					<a href="#" class="minimize" id="app-minimize"><i class="window minimize icon" aria-hidden="true"></i></a>
					<a href="#" class="maximize" id="app-maximize"><i class="window maximize icon" aria-hidden="true"></i></a>
					<a href="#" class="close" id="app-close">	 <i class="remove icon" aria-hidden="true"></i></a>
				</div>
			</div>
		</header>
		<main class="main-content">
			<div class="ui grid">
				<div class="four wide column sidebar-list ui secondary vertical pointing menu">
					<div class="header item">ShortCuts</div>
					<a class="active item" onclick="readFolder('desktop', true)">
						<i class="desktop icon" aria-hidden="true"></i> Desktop
					</a>
					<a class="item" onclick="readFolder('documents', true)">
						<i class="file icon" aria-hidden="true"></i> Documents
					</a>
					<a class="item" onclick="readFolder('downloads', true)">
						<i class="download icon" aria-hidden="true"></i> Downloads
					</a>
				</div>
	  			<div class="twelve wide column content-list">

	  				<h3 class="ui header">
						<i class="plug icon"></i>
						<div class="content" id="folder-path">
						</div>
					</h3>
	  				<table class="ui selectable celled striped table" id="listed-files">
						<thead>
							<tr>
								<tr><th class="twelve wide">Name</th>
								<th class="four wide">Size</th>
							</tr>
						</thead>
						<tbody id="path-list">
							
						</tbody>
					</table>
					<div></div>
				</div>
			</div>

			<div class="video-player">
				<video id="my-player" class="video-js"></video>
				<!-- <video id="my-player" class="video-js" controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'>
					<source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
					<source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
					<source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
					<p class="vjs-no-js">
						To view this video please enable JavaScript, and consider upgrading to a web browser that
						<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video> -->
			</div>
		</main>

		<script>
			require('./../renderer/renderer');
		</script>
	</body>
</html>